### Библиотеки

In [1]:
import pandas as pd
import numpy as np

### Создание

#### из списка

создаем Series значений из списка целых чисел

In [2]:
s = pd.Series(data=[10, 11, 12, 13, 14],
              index=[1, 2, 3, 5, 7])
s

1    10
2    11
3    12
5    13
7    14
dtype: int64

создаем Series из строковых значений

In [3]:
s = pd.Series(['Blue', 'Yellow', 'Green'])
s

0      Blue
1    Yellow
2     Green
dtype: object

создаем Series из 5 элементов, каждый элемент - list python

In [4]:
l = [[1, 2]]
s = pd.Series(l*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

создаем DataFrame из двумерного списка

In [5]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

задаем имена столбцов

In [6]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]],
                  columns=['A', 'B'])
df

    A   B
0  10  11
1  20  21
2  30  31

создаем DataFrame для списка объектов Series

In [7]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
df = pd.DataFrame([series_1, series_2])
df

    0   1
0  70  90
1  71  91

задаем имена столбцов после создания датафрейма

In [8]:
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     70     90
1     71     91

#### из словаря

создаем объект Series из словаря, при этом посмотрим, как изменились индексы

In [9]:
s = pd.Series({'Homer': 'Dad',
               'Marge': 'Mom',
               'Bart': 'Son',
               'Lisa': 'Daughter',
               'Maggie': 'Daughter'})
s

Homer          Dad
Marge          Mom
Bart           Son
Lisa      Daughter
Maggie    Daughter
dtype: object

создание DataFrame с помощью питоновского словаря

In [10]:
list_1 = [70, 71]
list_2 = [90, 91]
temperatures = {'col_1': list_1,
                'col_2': list_2}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

создание DataFrame с помощью словаря, состоящего из объектов Series

In [11]:
series_1 = pd.Series([70, 71])
series_2 = pd.Series([90, 91])

df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2})
df

   col_1  col_2
0     70     90
1     71     91

#### при помощи функций

создание Series, используя np.arange - последовательность чисел от **start** до **stop-1** с шагом **step**:
```python 
np.arange(start, stop, step) 
```

In [12]:
s = pd.Series(np.arange(15,25,2))
s

0    15
1    17
2    19
3    21
4    23
dtype: int64

создаем Series из 5 значений, равномерно разбивающих отрезок 0 до 9

In [13]:
s = pd.Series(np.linspace(0, 9, 5))
s

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

Генерация случайных чисел.

Зафикисруем значение seed, что позволит нам в будущем воcпроизводить свои результаты

Создадим объект Series из 5 нормально распределенных случайных чисел

In [14]:
np.random.seed(123)
s = pd.Series(np.random.normal(size=5))
s

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

Создадим объект DataFrame размерности 4х3 из случайных чисел

In [15]:
np.random.seed(123)
df = pd.DataFrame(np.random.normal(size=12).reshape(4, 3),
                  index=['ind_1', 'ind_2', 'ind_3', 'ind_4'],
                  columns=['col_1', 'col_2', 'col_3'])
df

          col_1     col_2     col_3
ind_1 -1.085631  0.997345  0.282978
ind_2 -1.506295 -0.578600  1.651437
ind_3 -2.426679 -0.428913  1.265936
ind_4 -0.866740 -0.678886 -0.094709

#### [из файла](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

| Column Name        | Description
| ------------- |:-------------:|
|Symbol|Сокращенное название организации|
|Name|Полное название организации|
|Sector|Сектор экономики|
|Price|Стоимость акции|
|Dividend Yield|Дивидендная доходность|
|Price/Earnings|Цена / прибыль|
|Earnings/Share|Прибыль на акцию|
|Book Value|Балансовая стоимость компании|
|52 week low|52-недельный минимум|
|52 week high|52-недельный максимум|
|Market Cap|Рыночная капитализация|
|EBITDA|**E**arnings **b**efore **i**nterest, **t**axes, **d**epreciation and **a**mortization|
|Price/Sales|Цена / объём продаж|
|Price/Book|Цена / балансовая стоимость|
|SEC Filings|Ссылка *sec.gov*|

In [16]:
pd.read_csv(filepath_or_buffer = "sp500.csv",
            sep = ';')

    Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0    MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,...
1    ABT,Abbott Laboratories,Health Care,39.60,1.82...
2    ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,...
3    ACN,Accenture,Information Technology,79.79,2.3...
4    ACE,ACE Limited,Financials,102.91,2.21,10.00,1...
..                                                 ...
495  YHOO,Yahoo Inc.,Information Technology,35.02,,...
496  YUM,Yum! Brands Inc,Consumer Discretionary,74....
497  ZMH,Zimmer Holdings,Health Care,101.84,0.81,22...
498  ZION,Zions Bancorp,Financials,28.43,0.56,18.82...
499  ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1....

[500 rows x 1 columns]

разделитель

In [18]:
pd.read_csv(filepath_or_buffer = "sp500.csv",
           sep = ',')

    Symbol  ...                                        SEC Filings
0      MMM  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
1      ABT  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
2     ABBV  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
3      ACN  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
4      ACE  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
..     ...  ...                                                ...
495   YHOO  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
496    YUM  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
497    ZMH  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
498   ZION  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
499    ZTS  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...

[500 rows x 15 columns]

количество строк

In [19]:
pd.read_csv(filepath_or_buffer = "sp500.csv",
           sep = ',',
           nrows = 3)

  Symbol  ...                                        SEC Filings
0    MMM  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
1    ABT  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...
2   ABBV  ...  http://www.sec.gov/cgi-bin/browse-edgar?action...

[3 rows x 15 columns]

столбцы

In [20]:
pd.read_csv(filepath_or_buffer = "sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

  Symbol       Sector   Price  Book Value
0    MMM  Industrials  141.14      26.668
1    ABT  Health Care   39.60      15.573
2   ABBV  Health Care   53.95       2.954

индекс

In [21]:
pd.read_csv(filepath_or_buffer = "sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

итератор

In [22]:
df_chunk = pd.read_csv(filepath_or_buffer = "sp500.csv",
                       sep = ',',
                       chunksize=50,
                       usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                       index_col='Symbol')

In [23]:
for df_tmp in df_chunk:
    print('DataFrame part:', df_tmp.shape)

DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)

In [24]:
sp500 = pd.read_csv(filepath_or_buffer = "sp500.csv",
                    sep = ',',
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                    index_col='Symbol')
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

### Свойства

#### создаем Series для примеров

In [25]:
Simpsons = pd.Series({'Homer': 120,
                      'Marge': 60,
                      'Bart': 35,
                      'Lisa': 30,
                      'Maggie': 7})

Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
dtype: int64

In [26]:
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

#### тип данных

In [27]:
Simpsons.dtype

dtype('int64')

In [28]:
sp500.dtypes

Sector         object
Price         float64
Book Value    float64
dtype: object

#### количество элементов

Series:

In [29]:
print('Первый способ:', len(Simpsons))
print('Второй способ:', Simpsons.size)
print('Третий способ:', Simpsons.shape)

Первый способ: 5
Второй способ: 5
Третий способ: (5,)

DataFrame:

In [30]:
print('Первый способ:', len(sp500))
print('Второй способ:', sp500.size)
print('Третий способ:', sp500.shape)

Первый способ: 500
Второй способ: 1500
Третий способ: (500, 3)

#### количество уникальных элементов

In [31]:
Simpsons.nunique()

5

In [32]:
sp500.nunique()

Sector         13
Price         495
Book Value    495
dtype: int64

#### индекс и значения

Series:

In [33]:
Simpsons.index

Index(['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'], dtype='object')

In [34]:
Simpsons.values

array([120,  60,  35,  30,   7])

DataFrame:

In [35]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [36]:
sp500.values

array([['Industrials', 141.14, 26.668000000000003],
       ['Health Care', 39.6, 15.573],
       ['Health Care', 53.95, 2.9539999999999997],
       ...,
       ['Health Care', 101.84, 37.181],
       ['Financials', 28.43, 30.191],
       ['Health Care', 30.53, 2.15]], dtype=object)

In [37]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

#### присвоение / изменение имени

#####  объекта Series

In [38]:
Simpsons.name = 'Simpsons weight'
Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

##### индекса

In [39]:
Simpsons.index.name = 'First name'
Simpsons

First name
Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

##### столбца

In [40]:
sp500_copy = sp500.rename(columns = {'Book Value': 'BookValue'})

проверяем, не изменились ли имена столбцов в исходном датафрейме

In [41]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [42]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

этот программный код переименовывает столбец на месте

In [43]:
sp500_copy.rename(columns = {'Book Value': 'BookValue'},
            inplace=True)

смотрим изменилось ли имя столбца

In [44]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

### Вывод значений

#### первые / последние строки

In [45]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [46]:
Simpsons.tail(3)

First name
Bart      35
Lisa      30
Maggie     7
Name: Simpsons weight, dtype: int64

#### столбцы

извлекаем столбец Sector

In [47]:
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

тип столбца датафрейма:

In [48]:
type(sp500['Sector'])

pandas.core.series.Series

извлекаем столбцы Price и Book Value

In [49]:
sp500[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

покажем, что результат является объектом DataFrame

In [50]:
type(sp500[['Price', 'Book Value']])

pandas.core.frame.DataFrame

атрибутивный доступ к столбцу по имени

In [51]:
sp500.Price.head()

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
Name: Price, dtype: float64

#### строки

##### по метке

**Series**

In [ ]:
numbers.loc[[25,33]]

ошибка - нет метки

In [ ]:
numbers.loc[0]

**DataFrame**

получаем строку с меткой индекса MMM,которая возвращается в виде объекта Series

In [54]:
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [55]:
type(sp500.loc['MMM'])

pandas.core.series.Series

получаем строки MMM и MSFT результатом будет объект DataFrame

In [56]:
sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [57]:
type(sp500.loc[['MMM', 'MSFT']])

pandas.core.frame.DataFrame

##### по позиции

**Series**

In [58]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

по позиции

In [59]:
numbers.iloc[[5,-5]]

30    1.651437
30    1.651437
dtype: float64

ошибка:

In [ ]:
numbers.iloc[10]

**DataFrame**

получаем строки, имеющие позиции 0 и 2

In [61]:
sp500.iloc[[0, 2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

получаем позиции меток MMM и A в индексе

In [62]:
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

и извлекаем строки

In [63]:
sp500.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

#### поиск скалярного значения

ищем скалярное значение по метке строки и метке (имени) столбца

In [64]:
sp500.at['MMM', 'Price']

141.14

ищем скалярное значение по позиции строки и позиции столбца; извлекаем значение в строке 0, столбце 1

In [65]:
sp500.iat[0, 1]

141.14

#### одновременный отбор строк и столбцов

отбираем строки с метками индекса ABT и ZTS для столбцов Sector и Price

In [66]:
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

In [67]:
sp500.loc[['ABT', 'ZTS'],['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

определение номера позиций заданных меток

In [68]:
print(sp500.index.get_loc('ABT'),sp500.index.get_loc('ZTS'))

1 499

отбор строк и столбцов по номеру позиций

In [69]:
sp500.iloc[[1,499],[0,1]]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

#### транспонирование

In [70]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [71]:
sp500.T.head()

Symbol              MMM          ABT  ...        ZION          ZTS
Sector      Industrials  Health Care  ...  Financials  Health Care
Price            141.14         39.6  ...       28.43        30.53
Book Value       26.668       15.573  ...      30.191         2.15

[3 rows x 500 columns]

#### переиндексация

ошибка:

In [ ]:
sp500.loc[['MMM', 'ABBV', 'NEW VALUE']]

делаем переиндексацию, задав метки MMM, ABBV и NEW VALUE

In [73]:
reindexed = sp500.reindex(index=['MMM', 'ABBV', 'NEW VALUE'])

обратите внимание, что все индексы, кромя перечисленных при вызове, удалены, а *NEW VALUE* содержит значения *NaN*

In [74]:
reindexed

                Sector   Price  Book Value
Symbol
MMM        Industrials  141.14      26.668
ABBV       Health Care   53.95       2.954
NEW VALUE          NaN     NaN         NaN

выполняем переиндексацию столбцов

In [75]:
sp500.reindex(columns=['Price', 'Book Value', 'NewCol']).head()

         Price  Book Value  NewCol
Symbol
MMM     141.14      26.668     NaN
ABT      39.60      15.573     NaN
ABBV     53.95       2.954     NaN
ACN      79.79       8.326     NaN
ACE     102.91      86.897     NaN

при этом можем заполнить отсутствующие значения константами вместо *NaN*

In [76]:
sp500.reindex(columns=['Price',
                       'Book Value',
                       'NewCol'],
              fill_value=0).head()

         Price  Book Value  NewCol
Symbol
MMM     141.14      26.668       0
ABT      39.60      15.573       0
ABBV     53.95       2.954       0
ACN      79.79       8.326       0
ACE     102.91      86.897       0

#### случайная подвыборка

отбираем три случайные строки

In [77]:
sp500.sample(n=3)

                        Sector  Price  Book Value
Symbol
ZION                Financials  28.43      30.191
NOV                     Energy  81.90      52.925
STX     Information Technology  51.95       8.080

случайный отбор с возвращением

In [78]:
sp500.sample(frac=5, replace=True, random_state=777)

                        Sector   Price  Book Value
Symbol
CLF                  Materials   16.34      34.523
MHK     Consumer Discretionary  136.41      61.582
BDX                Health Care  115.70      27.510
HOT     Consumer Discretionary   78.73      17.218
CELG               Health Care  150.13      11.200
...                        ...     ...         ...
BTU                     Energy   17.22      14.644
MCO                 Financials   82.50       1.803
LRCX    Information Technology   60.61      29.677
CI                 Health Care   89.24      39.304
MCO                 Financials   82.50       1.803

[2500 rows x 3 columns]

#### [настройки вывода](http://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options)

In [79]:
pd.options.display.max_rows

60

In [80]:
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [81]:
pd.options.display.max_rows = 10

In [82]:
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [83]:
pd.options.display.max_rows

10

### Срезы данных

#### Series

Задаём срез по правилу: [начальная позиция: конечная позиция: величина шага], при этом:
- Правая граница - не включается
- Шаг может быть отрицательным
- Позиция также может быть отрицательной - тогда отсчёт происходит "с другого конца"
- Нумерация происходит от нуля

In [84]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

срез, содержащий элементы с позициями от 1 по 5

In [85]:
numbers.iloc[1:6]

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

выбираем элементы в позициях 1, 3, 5 == выбираем элементы с 1 по 5 позицию с шагом 2

In [86]:
numbers.iloc[1:6:2]

26    0.997345
28   -1.506295
30    1.651437
dtype: float64

можем оставить только конечную позицию

In [87]:
numbers.iloc[:6]

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

либо оставим только начальную позицию

In [88]:
numbers.iloc[3:]

28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

отбираем элементы Series в обратном порядке, начиная с 5

In [89]:
numbers.iloc[5::-1]

30    1.651437
29   -0.578600
28   -1.506295
27    0.282978
26    0.997345
25   -1.085631
dtype: float64

отбор 4 последних строк

In [90]:
numbers.iloc[-4:]

31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

####  DataFrame

In [91]:
sp500.iloc[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

в обратном порядке

In [92]:
sp500.iloc[4::-1]

                        Sector   Price  Book Value
Symbol
ACE                 Financials  102.91      86.897
ACN     Information Technology   79.79       8.326
ABBV               Health Care   53.95       2.954
ABT                Health Care   39.60      15.573
MMM                Industrials  141.14      26.668

строки, начиная с метки ABT и заканчивая меткой ACN

In [93]:
sp500.loc['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

### Копирование и ссылки

In [94]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

элементы с 1 по 4

In [95]:
numbers.iloc[[1,2,3,4]]

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

сохранили в переменную n

In [96]:
n = numbers.iloc[[1,2,3,4]]

In [97]:
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

присваиваем значение 0 всем элементам

In [98]:
n.loc[:] = 0
n

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

что-нибудь произошло с numbers?

In [99]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

еще раз сохраним первые 4 элемента

In [100]:
n = numbers.iloc[[1,2,3,4]]
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

создаем переменную k = срез с 1 по 4 элемент

In [101]:
k = numbers[1:5]
k.loc[:] = 0
k

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

In [102]:
numbers

25   -1.085631
26    0.000000
27    0.000000
28    0.000000
29    0.000000
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

воcстановили numbers

In [103]:
numbers[1:5] = n
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

###  Удаление

#### del

Series

In [104]:
Simpsons

First name
Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

In [105]:
Simpsons_copy = Simpsons.copy()
del Simpsons_copy['Maggie']
Simpsons_copy

First name
Homer    120
Marge     60
Bart      35
Lisa      30
Name: Simpsons weight, dtype: int64

DataFrame

In [106]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [107]:
sp500_copy = sp500.copy()
del sp500_copy['Price']
sp500_copy.iloc[:2]

             Sector  Book Value
Symbol
MMM     Industrials      26.668
ABT     Health Care      15.573

#### pop

In [108]:
sp500_copy = sp500.copy()

In [109]:
sp500_copy.head(3)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

эта строка удалит столбец Sector и возвратит его как серию

In [110]:
popped_column = sp500_copy.pop('Sector')

столбец Sector удален на месте

In [111]:
sp500_copy.head(3)

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954

и у нас есть столбец Sector, полученный в результате применения pop

In [112]:
popped_column.head(3)

Symbol
MMM     Industrials
ABT     Health Care
ABBV    Health Care
Name: Sector, dtype: object

Для Series применение .pop идентично

#### drop

In [113]:
sp500_copy = sp500.copy()

In [114]:
sp500_copy.head(3)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

- эта строка вернет новый датафрейм с удаленным столбцом 'Sector’
- копия датафрейма не изменится

In [115]:
sp500_copy_after_drop = sp500_copy.drop(['Sector'], axis = 1)
sp500_copy_after_drop.head(3)

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954

In [116]:
sp500_copy.head(3)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

получаем копию первых 5 строк датафрейма data

In [117]:
sp500_part_copy = sp500.iloc[:5].copy()
sp500_part_copy

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

удаляем строки с метками ABT и ACN

In [118]:
sp500_part_copy = sp500_part_copy.drop(['ABT', 'ACN'], axis=0)
sp500_part_copy.head(5)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954
ACE      Financials  102.91      86.897

Для Series применение .drop идентично

### Фильтрация по условию

#### Series

In [119]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

какие строки имеют значения больше 0 и меньше 1?

In [120]:
logical_results = (numbers > 0) & (numbers < 1)
logical_results

25    False
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
dtype: bool

Скобки!!! Следующий программный код приведет к выдаче исключения
```python
numbers > 0 & numbers < 1 
```

тип полученного результата - Series, который можно использовать для отбора интерсующих нас значений

In [121]:
type(logical_results)

pandas.core.series.Series

отбираем строки со значением True

In [122]:
numbers[logical_results]

26    0.997345
27    0.282978
dtype: float64

использование метода .where

In [123]:
numbers.where((numbers > 0) & (numbers < 1))

25         NaN
26    0.997345
27    0.282978
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
dtype: float64

In [124]:
numbers.where((numbers > 0) & (numbers < 1), other = -1)

25   -1.000000
26    0.997345
27    0.282978
28   -1.000000
29   -1.000000
30   -1.000000
31   -1.000000
32   -1.000000
33   -1.000000
34   -1.000000
dtype: float64

все ли элементы >= 0?

In [125]:
(numbers >= 0).all()

False

есть ли элемент < 2?

In [126]:
(numbers < 2).any()

True

сколько значений < 1?

In [127]:
numbers < 1

25     True
26     True
27     True
28     True
29     True
30    False
31     True
32     True
33    False
34     True
dtype: bool

In [128]:
(numbers < 1).sum()

8

#### DataFrame

какие строки имеют значения Price < 100?

In [129]:
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

теперь получим строки, в которых Price < 100

In [130]:
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

извлекаем лишь те строки, в которых значение Price < 10 и > 6

In [131]:
r = sp500[(sp500['Price'] < 10) & 
          (sp500.Price > 6)] ['Price']
r

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

извлекаем строки, в которых переменная Sector принимает значение Health Care, а переменная Price больше или равна 100.00

In [132]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

использование метода .isin

In [133]:
s_tmp = sp500.Sector.isin(['Information Technology', 'Financials'])
s_tmp

Symbol
MMM     False
ABT     False
ABBV    False
ACN      True
ACE      True
        ...
YHOO     True
YUM     False
ZMH     False
ZION     True
ZTS     False
Name: Sector, Length: 500, dtype: bool

In [134]:
sp500[s_tmp].head()

                        Sector   Price  Book Value
Symbol
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
ADBE    Information Technology   64.30      13.262
AFL                 Financials   61.31      34.527
AKAM    Information Technology   53.65      15.193

использование метода .query

In [135]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

In [136]:
q = sp500.query("Sector=='Health Care' & Price >= 100")[['Price', 'Sector']]
q

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

### Добавление

#### оператор [ ]

создаем копию, чтобы исходные данные остались в неизменном виде

In [137]:
sp500_copy = sp500.copy()

добавляем столбец

In [138]:
sp500_copy['RoundedPrice'] = sp500_copy.Price.round()
sp500_copy.head(3)

             Sector   Price  Book Value  RoundedPrice
Symbol
MMM     Industrials  141.14      26.668         141.0
ABT     Health Care   39.60      15.573          40.0
ABBV    Health Care   53.95       2.954          54.0

#### метод .insert()

создаем копию, чтобы исходные данные остались в неизменном виде

In [139]:
sp500_copy = sp500.copy()

вставляем столбец RoundedPrice в качестве третьего столбца датафрейма

In [140]:
sp500_copy.insert(1, 'RoundedPrice', sp500_copy.Price.round())
sp500_copy.head(3)

             Sector  RoundedPrice   Price  Book Value
Symbol
MMM     Industrials         141.0  141.14      26.668
ABT     Health Care          40.0   39.60      15.573
ABBV    Health Care          54.0   53.95       2.954

#### метод .assign()

создаем копию, чтобы исходные данные остались в неизменном виде

In [141]:
sp500_copy = sp500.copy()

одновременное добавление двух столбцов:

In [142]:
sp500_copy.assign(Rounded_Price=sp500_copy.Price.round(),
                  R_BookValue_Price=lambda x: (x['Book Value'] / x['Rounded_Price']))

                        Sector   Price  ...  Rounded_Price  R_BookValue_Price
Symbol                                  ...
MMM                Industrials  141.14  ...          141.0           0.189135
ABT                Health Care   39.60  ...           40.0           0.389325
ABBV               Health Care   53.95  ...           54.0           0.054704
ACN     Information Technology   79.79  ...           80.0           0.104075
ACE                 Financials  102.91  ...          103.0           0.843660
...                        ...     ...  ...            ...                ...
YHOO    Information Technology   35.02  ...           35.0           0.364800
YUM     Consumer Discretionary   74.77  ...           75.0           0.068627
ZMH                Health Care  101.84  ...          102.0           0.364520
ZION                Financials   28.43  ...           28.0           1.078250
ZTS                Health Care   30.53  ...           31.0           0.069355

[500 rows x 5 columns]

### Выравнивание данных

#### Series

первая серия для примеров

In [143]:
s_1 = pd.Series(data=[77,33,11],index=['a','b','f'])
s_1

a    77
b    33
f    11
dtype: int64

вторая серия для примеров

In [144]:
s_2 = pd.Series(data=[11,5,6],index=['c','b','a'])
s_2

c    11
b     5
a     6
dtype: int64

для непересекающейся части индексов будут получены значения NaN

In [145]:
s_1+s_2

a    83.0
b    38.0
c     NaN
f     NaN
dtype: float64

метки не обязательно должны быть уникальными

In [146]:
s_1 = pd.Series(data=[77, 33, 15, 3], index=['a', 'a', 'a', 'd'])
s_1

a    77
a    33
a    15
d     3
dtype: int64

In [147]:
s_2 = pd.Series(data=[11, 5, 6], index=['c', 'a', 'a'])
s_2

c    11
a     5
a     6
dtype: int64

3 метки 'а' и 2 метки 'а', результат 6 меток а

In [148]:
s_2+s_1

a    82.0
a    38.0
a    20.0
a    83.0
a    39.0
a    21.0
c     NaN
d     NaN
dtype: float64

#### DataFrame

In [149]:
sp500_part_1 = sp500.iloc[0:5, 0:2].copy()
sp500_part_2 = sp500.iloc[2:7, 1:3].copy()

In [150]:
sp500_part_1

                        Sector   Price
Symbol
MMM                Industrials  141.14
ABT                Health Care   39.60
ABBV               Health Care   53.95
ACN     Information Technology   79.79
ACE                 Financials  102.91

In [151]:
sp500_part_2

         Price  Book Value
Symbol
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897
ACT     213.77      55.188
ADBE     64.30      13.262

In [152]:
sp500_part_1 + sp500_part_2

        Book Value   Price  Sector
Symbol
ABBV           NaN  107.90     NaN
ABT            NaN     NaN     NaN
ACE            NaN  205.82     NaN
ACN            NaN  159.58     NaN
ACT            NaN     NaN     NaN
ADBE           NaN     NaN     NaN
MMM            NaN     NaN     NaN

происходит выравнивание при создании датафрейма

In [153]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
series_3 = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2,
                   'col_3': series_3})
df

   col_1  col_2  col_3
0   70.0   71.0    NaN
1   90.0   91.0   85.0
2    NaN    NaN   87.0

### Сортировка

#### по индексу

In [154]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [155]:
sp500.sort_index().head()

                        Sector   Price  Book Value
Symbol
A                  Health Care   56.18      16.928
AA                   Materials   13.52       9.670
AAPL    Information Technology  614.13     139.460
ABBV               Health Care   53.95       2.954
ABC                Health Care   71.64       9.430

In [156]:
sp500.sort_index(axis=1).head()

        Book Value   Price                  Sector
Symbol
MMM         26.668  141.14             Industrials
ABT         15.573   39.60             Health Care
ABBV         2.954   53.95             Health Care
ACN          8.326   79.79  Information Technology
ACE         86.897  102.91              Financials

#### по значению

In [157]:
sp500.sort_values(by='Price').head()

                             Sector  Price  Book Value
Symbol
BEAM         Consumer Discretionary   0.00         NaN
FTR     Telecommunications Services   5.81       3.989
SLM                      Financials   8.82      11.895
HBAN                     Financials   9.10       6.995
WIN     Telecommunications Services   9.38       1.199

In [158]:
sp500.sort_values(by='Price', ascending=False).head()

                        Sector    Price  Book Value
Symbol
PCLN               Industrials  1197.12     137.886
GHC     Consumer Discretionary   677.29       0.000
AAPL    Information Technology   614.13     139.460
GOOG    Information Technology   552.70     135.977
AZO     Consumer Discretionary   540.90     -51.275

#### наименьшее / наибольшее значение

In [159]:
sp500.nsmallest(5, 'Price')

                             Sector  Price  Book Value
Symbol
BEAM         Consumer Discretionary   0.00         NaN
FTR     Telecommunications Services   5.81       3.989
SLM                      Financials   8.82      11.895
HBAN                     Financials   9.10       6.995
WIN     Telecommunications Services   9.38       1.199

In [160]:
sp500.nlargest(5, 'Price')

                        Sector    Price  Book Value
Symbol
PCLN               Industrials  1197.12     137.886
GHC     Consumer Discretionary   677.29       0.000
AAPL    Information Technology   614.13     139.460
GOOG    Information Technology   552.70     135.977
AZO     Consumer Discretionary   540.90     -51.275